<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    


<h1>The Battleship game</h1>

<div id="container">
    <table id="player" class="battleGrid">
    </table>

    <table id="opponent" class="battleGrid">
    </table>
</div>
<div id="place_buttons">
</div>
    Place Ships
    <ul>
    <li><button id="place_minesweeper">Minesweeper</button></li>
    <li><button id="place_destroyer">Destroyer</button></li>
    <li><button id="place_battleship">Battleship</button></li>
        </ul>

<script type="text/javascript" src="/assets/game.js"></script>
<script>
    initGame();
</script>

</@layout.myLayout>